<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="BTC Wallet v2"
        android:supportsRtl="true"
        android:theme="@style/Theme.BtcWallet">

        <!-- MÀN KHỞI ĐỘNG DUY NHẤT -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CreateImportActivity" android:exported="false" />
        <activity android:name=".PasswordActivity" android:exported="false" />
        <activity android:name=".WalletActivity" android:exported="false" />

    </application>

</manifest>